@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #ffffff;
  --foreground: #2a2e39;
  --card: #ffffff;
  --card-foreground: #2a2e39;
  --popover: #ffffff;
  --popover-foreground: #2a2e39;
  --primary: #459d33;
  --primary-foreground: #ffffff;
  --secondary: #c4cf00;
  --secondary-foreground: #2a2e39;
  --muted: #c4cf00;
  --muted-foreground: #2a2e39;
  --accent: #c4cf00;
  --accent-foreground: #2a2e39;
  --destructive: #FF7043;
  --destructive-foreground: #ffffff;
  --border: #BDC3C7;
  --input: #BDC3C7;
  --ring: #2a2e39;
  --chart-1: #FF7043;
  --chart-2: #459d33;
  --chart-3: #c4cf00;
  --chart-4: #FF7043;
  --chart-5: #34D399; 
  --radius: 0.6rem;
}

.dark {
  --background: #2a2e39; 
  --foreground: #ffffff; 
  --card: #2a2e39; 
  --card-foreground: #ffffff; 
  --popover: #2a2e39; 
  --popover-foreground: #ffffff; 
  --primary: #ffffff; 
  --primary-foreground: #2a2e39;
  --secondary: #c4cf00; 
  --secondary-foreground: #ffffff; 
  --muted: #c4cf00; 
  --muted-foreground: #2a2e39; 
  --accent: #c4cf00; 
  --accent-foreground: #2a2e39; 
  --destructive: #FF7043; 
  --destructive-foreground: #ffffff; 
  --border: #BDC3C7; 
  --input: #BDC3C7;
  --ring: #ffffff; 
  --chart-1: #FF7043; 
  --chart-2: #459d33; 
  --chart-3: #c4cf00; 
  --chart-4: #FF7043; 
  --chart-5: #459d33; 
}

@theme {
  --color-black: #121212;
  --color-gray: #2a2e39;
  --color-green: #459d33;
  --color-yellow: #c4cf00;
}

@layer base {
  * {
    border-color: var(--border);
    outline-color: var(--ring);
  }
  body {
    body {
      background-color: var(--background);
      color: var(--foreground);
    }
    
  }
}
